language: csharp
mono: none
dotnet: 2.2
dist: xenial
install:
  - dotnet restore
  - dotnet tool install coveralls.net --version 1.0.0 --tool-path tools
script:
  - dotnet build
  - dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
  - ./tools/csmacnz.Coveralls --opencover -i coverage.opencover.xml --repoToken ${COVERALLS_REPO_TOKEN}
